# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore environment variables file
.env

# Ignore any files generated during development or testing
*.log
*.pid
*.lock
*.env.local

# Ignore editor and IDE specific files
.vscode/
.idea/

# 
.README.md
.aggregetetion.md
